<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#!home">Patient Management System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#!about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!port">News</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#!blog">Blog</a>
        </li>
        <li class="nav-item">
          <div ng-if="!check_login()">
              <a class="nav-link" href="#!log">Log In</a>
          </div>            
          </li>
          <li class="nav-item">
          <div ng-if="check_login()">
              <a class="nav-link" hrenf="!#user">Profile</a>
          </div>
          </li>
          <li class="nav-item">
          <div ng-if="check_login()">
            <i class="fas fa-power-off" ng-click="logout()" style="font-size:24px;color:grey;position: relative;top:7px"></i>
          </div>
          </li>
      </ul>
    </div>
  </div>
</nav>
    <!-- Page Content -->
    <div class="container">
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">About Us</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#!home">Home</a>
        </li>
        <li class="breadcrumb-item active">About Us</li>
      </ol>
      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="slide3.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <h2>About Patient Management System</h2>
          <p>The Patient Management System was a idea thought of in the beginning of 2018.The key of the idea was to provide medical support for others which is available through the internet.</p>
          <p>Our main goal is to provide the best medical service to everybody online and offline.We want to give our users the best user experience and to be there for the 24/7!</p>
          <p>We appretiate all of the support you give us and we will thrive to emprove our services and our busniess.</p>
        </div>
      </div>
      <!-- /.row -->
      <!-- Team Members -->
      <h2>Our Team</h2>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="pics/m1.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Laura Habit</h4>
              <h6 class="card-subtitle mb-2 text-muted">CEO</h6>
              <p class="card-text">The mastermind behind this website.</p>
            </div>
            <div class="card-footer">
              <a href="#">laura.h@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="pics/m2.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Yi Sun Suk</h4>
              <h6 class="card-subtitle mb-2 text-muted">Specialist</h6>
              <p class="card-text">The youngest specialist in our team and the most hardworking.</p>
            </div>
            <div class="card-footer">
              <a href="#">yiss@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="pics/m3.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Gay Liek</h4>
              <h6 class="card-subtitle mb-2 text-muted">PR manager</h6>
              <p class="card-text">If you have any questions just ring this guy up.</p>
            </div>
            <div class="card-footer">
              <a href="#">gayl@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <!-- Our Customers -->
      <h2>Our Customers</h2>
      <div class="row">
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="pics/c1.jpg" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="pics/c2.jpg" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="pics/c3.jpg" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="pics/c4.jpg" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="pics/c5.jpg" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="pics/c6.jpg" alt="">
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Patient Management System 2018</p>
      </div>
      <!-- /.container -->
    </footer>