<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#!home">Patient Management System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!booking">Booking</a>
            </li>
            <div ng-hide="check_staff() || check_admin() || check_doctor() || check_patient()" class="ng-hide">
              <li class="nav-item">
                <a class="nav-link" href="#!contact">Contact Us</a>
              </li>
                </div>
              <div ng-if="check_patient()">
              <li class="nav-item">
                <a class="nav-link" href="#!askus">Ask us</a>
              </li>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="#!port">News</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#!blog">Blog</a>
            </li>
            <li class="nav-item">
              <div ng-if="!check_login()">
                  <a class="nav-link" href="#!log">Log In</a>
              </div>            
              </li>
              <li class="nav-item">
              <div ng-if="check_login() && check_patient()">
                  <a class="nav-link" href="#!user">Profile</a>
              </div>
              <div ng-if="check_login() && check_admin()">
                  <a class="nav-link" href="#!dashboard1">Dash</a>
              </div>
              <div ng-if="check_login() && check_doctor()">
                  <a class="nav-link" href="#!questions">Dash</a>
              </div>
              <div ng-if="check_login() && check_staff()">
                  <a class="nav-link" href="#!tables">Dash</a>
              </div>
              </li>
              <li class="nav-item">
              <div ng-if="check_login()">
                <i class="fas fa-power-off" ng-click="logout()" style="font-size:24px;color:grey;position: relative;top:7px"></i>
              </div>
              </li>
          </ul>
    </div>
  </div>
</nav>
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Booking</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#!home">Home</a>
        </li>
        <li class="breadcrumb-item active">Booking</li>
      </ol>

      <!-- Image Header -->
      <img class="img-fluid rounded mb-4" src="slide2.jpg" alt="">

      <!-- Marketing Icons Section -->
      <div class="row">
          <div class="container">
              <h>What specialist can help you with your problem?</h>
                <form method="POST">
                    <div class="container"> 
                        <input type="text" placeholder="What kind of doctor are you looking for?" ng-model="book.type">
                        <br>
                        Please enter the desired date:  <input type="date" ng-model="book.date" name="date"><br>
                        At what time would you like to make an appointment?  <input type="time" ng-model="book.time" name="time"><span class="hours" style="color:gray">Working hours: 9AM to 5PM</span>
                        <textarea ng-model="book.add" name="add" rows="10" cols="100" class="form-control" id="message" placeholder="Can you tell us something about your problem" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        <h>Did you have problem before with your issue?</h><input type="radio" name="issue" ng-model="book.issue" value="Yes">Yes<input type="radio" name="issue" ng-model="book.issue" value="No">No<br>
                        <h>Medical records will be sent to the doctor</h><input type="radio" ng-model="book.records" name="record" value="Yes" required>
                        <button value="submit" type="submit" ng-click="add_book()">Submit</button>
                    </div>
                </form>
          </div>
      </div>
      </div>
    <!---     <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Book a apointment</h4>
            <div class="card-body">
              <p class="card-text">Having any medical proiblems or health issues? Contact us and we will help you!</p>
            </div>
            <div class="card-footer">
              <a href="#!appointment" class="btn btn-primary">Book Now!</a>
            </div>
          </div>
        </div>
       <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>-->
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Patient Management System 2018</p>
      </div>
      <!-- /.container -->
    </footer>