<div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Dashboard</h1>
  
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#!home">Home</a>
          </li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container">
            <table class="user-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="emp in emplist">
                           <td>{{emp.emp_username}}</td>
                           <td>{{emp.emp_salary}}</td>
                           <td>{{emp.emp_country}}</td>
                           <td>{{emp.email}}</td>
                           <td>{{emp.type}}</td></tr>
                           <tr>
                              <div class="btn-group">
                                 <button class="btn btn-success" ng-click="add_emp(emp)">Add Employee</button>
                                 <button class="btn btn-primary" ng-click="edit_emp(emp)">Edit Employee</button>
                                 <button class="btn btn-danger" ng-click="delete_emp(emp._id,emp.username)">Delete Employee</button>
                              </div>
                        </tr>
                </tbody>
            </table>
          </div>
            <div class="users">
                    <div class="card-header">
                       <h2 class="card-title">User stats</h2>
                       <p class="card-category">New users on {{date | date:'d MMMM, yyyy'}}</p>
                    </div>
                    <div class="body">
                       <table class="table-hover">
                          <thead class="text-warning">
                                <th>Username</th>
                                <th>First name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr ng-repeat="user in user_list">
                                <td>{{user.user_username}}</td>
                                <td>{{user.user_firstname}} KM</td>
                                <td>{{user.user_lastname}}</td>
                                <td>{{user.user_email}}</td></tr>
                                <td>
                                   <div class="btn-group">
                                      <button class="btn btn-primary" ng-click="edit_user(user)">Edit</button>
                                      <button class="btn btn-danger" ng-click="delete_user(user._id, user.user_username)">Delete</button>
                                   </div>
                                </td>
                             </tr>
                          </tbody>
                       </table>
                    </div>
                 </div>
              </div>
   
        </div>
        </div>
      </div>
<footer class="py-5 bg-dark">
    
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Patient Management System 2018</p>
        </div>
        <!-- /.container -->
      </footer>