
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#!home">Patient Management System</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!port">News</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#!blog">Blog</a>
          </li>
          <li class="nav-item">
          <div ng-if="!check_login()">
              <a class="nav-link" href="#!log">Log In</a>
          </div>            
          </li>
          <li class="nav-item">
          <div ng-if="check_login()">
              <a class="nav-link" hrenf="!#user">Profile</a>
          </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image:url('slide1.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Welcome</h3>
            <p style="color:blue">One of the most advanced medical facilitites.</p>
          </div>
        </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome to The Clinic</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Welcome</h4>
          <div class="card-body">
            <p class="card-text">Welcome to our little clinic which can help with your problems!</p>
          </div>
          <div class="card-footer">
            <a  class="btn btn-primary" href="#!services">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Sign Up Now</h4>
          <div class="card-body">
            <p class="card-text">Sign-up now and get the 24/7 online support for all of your problems.Take adventage of all of the benefits that we can give.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="#!signup" >Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">About Us</h4>
          <div class="card-body">
            <p class="card-text">Learn our story of how it all stared.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="#!about">About Us</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>News</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="n1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Gene therapy for inherited retinal diseases</a>
            </h4>
            <p class="card-text">In a historic move, the FDA has approved gene therapy for inherited retinal diseases. The approval signals a new era for gene therapy, which suffered setbacks for years but is now pressing forward.Patients that have a defective gene called...</p>
            <a  class="btn btn-primary" href="#!port">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="n2.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Big reductions in LDL cholesterol</a>
            </h4>
            <p class="card-text">Bad cholesterol, known as low-density lipoprotein (LDL), is a major factor in heart disease. And certain new drug combinations can lower LDL levels by 75 percent. PCSK9 inhibitors, along with statins, have proved especially powerful at reducing bad cholesterol numbers. That, says Roizen, could also...</p>
            <a  class="btn btn-primary" href="#!port">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="n3.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">A new kind of patient monitoring</a>
            </h4>
            <p class="card-text">Part of the reason an intensive care unit is so chaotic is because alarms are constantly going off — and they're not always critical. (One study, says Roizen, found that 80 percent of hospital alarms were deemed unnecessary.)Big data is starting to inch its way into the hospital...</p>
            <a  class="btn btn-primary" href="#!port">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="n4.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">A better night's sleep</a>
            </h4>
            <p class="card-text">Sleep apnea affects 22 million people and can lead to high blood pressure, heart disease and stroke. Popular treatments, like a CPAP machine, might be effective, but they still make sleeping difficult for people with sleep apnea. That's why it is estimated that more than 40 percent of sleep apnea patients refuse to wear the device.Neuromodulation is...</p>
            <a  class="btn btn-primary" href="#!port">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="n5.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">An artificial pancreas</a>
            </h4>
            <p class="card-text">Diabetes kills more Americans every year than AIDS and breast cancer combined, according to the American Diabetes Association. Now the 1.25 million Americans who suffer from Type 1 diabetes might have a ray of hope on the horizon: A hybrid close-loop insulin...</p>
            <a  class="btn btn-primary" href="#!port">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="n6.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">The first human head transplant</a>
            </h4>
            <p class="card-text">The jury is still out on this one, but deserves a mention. In 2017, Sergio Canavero, a neurosurgeon from Italy, was set to perform the first head transplant. Up to now, there has been no success in animal experiments.This lengthy 36-hour long procedure will allow the head to be removed and be reattached to a new body, with all...</p>
            <a  class="btn btn-primary" href="#!port">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <!-- /.container -->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Patient Management System 2018</p>
    </div>
    <!-- /.container -->
  </footer>
  