<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#!home">Patient Management System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#!about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!booking">Booking</a>
        </li>
        <div ng-hide="check_staff() || check_admin() || check_doctor() || check_patient()" class="ng-hide">
          <li class="nav-item">
            <a class="nav-link" href="#!contact">Contact Us</a>
          </li>
            </div>
          <div ng-if="check_patient()">
          <li class="nav-item">
            <a class="nav-link" href="#!askus">Ask us</a>
          </li>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="#!port">News</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#!blog">Blog</a>
        </li>
        <li class="nav-item">
          <div ng-if="!check_login()">
              <a class="nav-link" href="#!log">Log In</a>
          </div>            
          </li>
          <li class="nav-item">
          <div ng-if="check_login() && check_patient()">
              <a class="nav-link" href="#!user">Profile</a>
          </div>
          <div ng-if="check_login() && check_admin()">
              <a class="nav-link" href="#!dashboard1">Dash</a>
          </div>
          <div ng-if="check_login() && check_doctor()">
              <a class="nav-link" href="#!questions">Dash</a>
          </div>
          <div ng-if="check_login() && check_staff()">
              <a class="nav-link" href="#!tables">Dash</a>
          </div>
          </li>
          <li class="nav-item">
          <div ng-if="check_login()">
            <i class="fas fa-power-off" ng-click="logout()" style="font-size:24px;color:grey;position: relative;top:7px"></i>
          </div>
          </li>
      </ul>
    </div>
  </div>
</nav>
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image:url('slide1.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Welcome</h3>
            <p style="color:blue">One of the most advanced medical facilitites.</p>
          </div>
        </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome to The Clinic</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Welcome</h4>
          <div class="card-body">
            <p class="card-text">Welcome to our little clinic which can help with your problems!</p>
          </div>
          <div class="card-footer">
            <a  class="btn btn-primary" href="#!booking">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Sign Up Now</h4>
          <div class="card-body">
            <p class="card-text">Sign-up now and get the 24/7 online support for all of your problems.Take adventage of all of the benefits that we can give.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="#!signup" >Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">About Us</h4>
          <div class="card-body">
            <p class="card-text">Learn our story of how it all stared.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="#!about">About Us</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>News</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="n1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Gene therapy for inherited retinal diseases</a>
            </h4>
            <p class="card-text">In a historic move, the FDA has approved gene therapy for inherited retinal diseases. The approval signals a new era for gene therapy, which suffered setbacks for years but is now pressing forward.Patients that have a defective gene called...</p>
            <a  class="btn btn-primary" href="#!port">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="n2.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Big reductions in LDL cholesterol</a>
            </h4>
            <p class="card-text">Bad cholesterol, known as low-density lipoprotein (LDL), is a major factor in heart disease. And certain new drug combinations can lower LDL levels by 75 percent. PCSK9 inhibitors, along with statins, have proved especially powerful at reducing bad cholesterol numbers. That, says Roizen, could also...</p>
            <a  class="btn btn-primary" href="#!port">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="n3.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">A new kind of patient monitoring</a>
            </h4>
            <p class="card-text">Part of the reason an intensive care unit is so chaotic is because alarms are constantly going off — and they're not always critical. (One study, says Roizen, found that 80 percent of hospital alarms were deemed unnecessary.)Big data is starting to inch its way into the hospital...</p>
            <a  class="btn btn-primary" href="#!port">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <!-- /.container -->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Patient Management System 2018</p>
    </div>
    <!-- /.container -->
  </footer>
  