<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#!home">Patient Management System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!booking">Booking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!port">News</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#!blog">Blog</a>
            </li>
            <li class="nav-item">
              <div ng-if="!check_login()">
                  <a class="nav-link" href="#!log">Log In</a>
              </div>            
              </li>
              <li class="nav-item">
              <div ng-if="check_login() && check_patient()">
                  <a class="nav-link" href="#!user">Profile</a>
              </div>
              <div ng-if="check_login() && check_admin()">
                  <a class="nav-link" href="#!dashboard1">Dash</a>
              </div>
              <div ng-if="check_login() && check_doctor()">
                  <a class="nav-link" href="#!map">Dash</a>
              </div>
              <div ng-if="check_login() && check_staff()">
                  <a class="nav-link" href="#!tables">Dash</a>
              </div>
              </li>
              <li class="nav-item">
              <div ng-if="check_login()">
                <i class="fas fa-power-off" ng-click="logout()" style="font-size:24px;color:grey;position: relative;top:7px"></i>
              </div>
              </li>
          </ul>
    </div>
  </div>
</nav>
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Log In</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#!home">Home</a>
        </li>
        <li class="breadcrumb-item active">Log In</li>
      </ol>
      <div class="container">
          <form>
              <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required ng-model="credentials.username">
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required ng-model="credentials.password">
                <label><input type="checkbox" name="remember"> Remember me</label><br>
                <label type="text" name="signup"><a href="#!signup">Dont have an account? Sign up now!</a></label>
              </div>
              <button type="submit" ng-click="login(credentials)">Login</button>
              <div class="container" style="background-color:#f1f1f1">
                <span class="psw"><a href="#">Forgot password?</a></span>
              </div>
            </form>
      </div>
      </div>
    </div>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Patient Management System 2018</p>
      </div>
      <!-- /.container -->
    </footer>

