<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="#!dashboard1" class="simple-text logo-normal">
          Patient Management <br>
              System
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
            <div ng-if="check_admin()">
              <li class="nav-item ">
                <a class="nav-link" href="#!dashboard1">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          </div>
          <div ng-if="!check_admin()">
            <li class="nav-item ">
          <a class="nav-link" href="#!user">
            <i class="material-icons">person</i>
            <p>Profile</p>
          </a>
         </li>
          </div>
        <div ng-if="check_admin() || check_staff()">
          <li class="nav-item ">
            <a class="nav-link" href="#!tables">
              <i class="material-icons">content_paste</i>
              <p>Stats</p>
            </a>
          </li>
        </div>
        <div ng-if="check_admin()">
            <li class="nav-item">
              <a class="nav-link" href="#!feedback">
                <i class="material-icons">assessment</i>
                <p>Feedback</p>
              </a>
            </li>
          </div>
            <div ng-if="check_patient()">
              <li class="nav-item ">
            <a class="nav-link" href="#!messages">
              <i class="material-icons">announcement</i>
              <p>Messages</p>
            </a>
          </li>
            </div>
            <div ng-if="!check_patient()">
                <li class="nav-item">
            <a class="nav-link" href="#!icons">
              <i class="material-icons">assignment_turned_in</i>
              <p>Appointments</p>
            </a>
          </li>
            </div>
              <div ng-if="check_doctor()">
                <li class="nav-item ">
            <a class="nav-link" href="#!questions">
              <i class="material-icons">assignment</i>
              <p>Questions</p>
            </a>
          </li>
            </div>
              <div ng-if="check_doctor()">
                <li class="nav-item active">
            <a class="nav-link" href="#!notifications">
              <i class="material-icons">assignment_ind</i>
              <p>Notifications</p>
            </a>
          </li>
            </div>
          <li class="nav-item ">
              <a class="nav-link" href="#">
                <i class="material-icons">home</i>
                <p>Home</p>
              </a>
          </li>
          <!-- <li class="nav-item active-pro ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li> -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title ">User Stats</h4>
                    <p class="card-category">Here you can see the information of our users</p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>Firstname</th>
                          <th>Lastname</th>
                          <th>Date</th>
                          <th>Place</th>
                          <th>Gender</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="patient in patient_list">
                                <td>{{patient.firstname}}</td>
                                <td>{{patient.lastname}}</td>
                                <td>{{patient.date | date: 'd MMMM, yyyy'}}</td>
                                <td>{{patient.place}}</td>
                                <td>{{patient.gen}}</td>
                             </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title ">Bookings</h4>
                    <p class="card-category">Here you can see all of the bookings</p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>Info about the patients problem</th>
                          <th>Date</th>
                          <th>Time</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="booking in booking_list">
                            <td>{{booking.add}}</td>
                            <td>{{booking.date | date: 'd MMMM, yyyy'}}</td>
                            <td>{{booking.time | date: 'HH:mm a'}}</td>
                            <td>
                                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-white" ng-click="edit_books(booking)" ><i class="fas fa-edit"  style="font-size:24px;color:green;position: relative;top:7px"></i></button>
                            </td>
                            <td>
                                <button class="btn btn-link btn-sm" style:"min-width: 80px;max-width: 80px;" ><i class="fas fa-trash-alt" style="font-size:24px;color:red;position: relative;top:7px" ng-click="decline_book(book._id)"></i></button>
                            </td>
                         </tr>
                        </tbody>
                      </table>
                      <div id="id01" class="w3-modal">
                          <div class="w3-modal-content w3-animate-top w3-card-4">
                            <header class="w3-container w3-green"> 
                              <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                              <h2>You have pending check up reply's</h2>
                            </header>
                            <div class="w3-container">
                                <table class="table table-hover">
                                    <h2 class="mt-4 mb-3">The patients requires your diagnosis
                                    </h2>
                                    <thead>
                                    <th>Check up reply</th>
                                    </thead>
                                    <tbody>
                                      <tr>
                                          <td><input class="form-control" placeholder="Reply" ng-model="book.reply"/></td>
                                          <td><button class="btn btn-link btn-sm" style:"min-width: 80px;max-width: 80px;" ng-click="update_books()"><i class="fas fa-check" style="font-size:24px;color:green;position: relative;top:7px" ></i></button></td>
                                        </tr>
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <p class="m-0 text-center text-black">Copyright &copy; Patient Management System 2018</p>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />   
  <script>
    $(document).ready(function() {
      //init DateTimePickers
      md.initFormExtendedDatetimepickers();
    });
  </script>
</body>