<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#!home">Patient Management System</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!port">News</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#!blog">Blog</a>
          </li>
          <li class="nav-item">
          <div ng-if="!check_login()">
              <a class="nav-link" href="#!log">Log In</a>
          </div>            
          </li>
          <li class="nav-item">
          <div ng-if="check_login()">
              <a class="nav-link" hrenf="!#user">Profile</a>
          </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Services</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#!home">Home</a>
        </li>
        <li class="breadcrumb-item active">Services</li>
      </ol>

      <!-- Image Header -->
      <img class="img-fluid rounded mb-4" src="slide2.jpg" alt="">

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Book a apointment</h4>
            <div class="card-body">
              <p class="card-text">Having any medical proiblems or health issues? Contact us and we will help you!</p>
            </div>
            <div class="card-footer">
              <a href="#!appointment" class="btn btn-primary">Book Now!</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Card Title</h4>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Patient Management System 2018</p>
      </div>
      <!-- /.container -->
    </footer>