<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#!home">Patient Management System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!booking">Booking</a>
            </li>
            <div ng-hide="check_staff() || check_admin() || check_doctor() || check_patient()" class="ng-hide">
              <li class="nav-item">
                <a class="nav-link" href="#!contact">Contact Us</a>
              </li>
                </div>
              <div ng-if="check_patient()">
              <li class="nav-item">
                <a class="nav-link" href="#!askus">Ask us</a>
              </li>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="#!port">News</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#!blog">Blog</a>
            </li>
            <li class="nav-item">
              <div ng-if="!check_login()">
                  <a class="nav-link" href="#!log">Log In</a>
              </div>            
              </li>
              <li class="nav-item">
              <div ng-if="check_login() && check_patient()">
                  <a class="nav-link" href="#!user">Profile</a>
              </div>
              <div ng-if="check_login() && check_admin()">
                  <a class="nav-link" href="#!dashboard1">Dash</a>
              </div>
              <div ng-if="check_login() && check_doctor()">
                  <a class="nav-link" href="#!questions">Dash</a>
              </div>
              <div ng-if="check_login() && check_staff()">
                  <a class="nav-link" href="#!tables">Dash</a>
              </div>
              </li>
              <li class="nav-item">
              <div ng-if="check_login()">
                <i class="fas fa-power-off" ng-click="logout()" style="font-size:24px;color:grey;position: relative;top:7px"></i>
              </div>
              </li>
          </ul>
    </div>
  </div>
</nav>
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Sign Up</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#!home">Home</a>
        </li>
        <li class="breadcrumb-item active">Sign Up</li>
      </ol>
      <div class="container">
          <form name="signup_form" ng-submit="add_user()">
              <div class="container">
              <div class="row">
                <div class="personal-row col-xs-12 col-md-12 col-lg-12"><legend class="text-center">Personal Information</legend></div><br>
                <div class="personal-row col-xs-6 col-md-6 col-lg-6">First name<br><input type="text" ng-model="user.firstname" name="firstname" required placeholder="First Name"><br>
                  <span style="color:red" ng-show="signup_form.firstname.$touched">
                      <span ng-show="signup_form.firstname.$error.required">First name is required.</span>
                  </span>
                </div>
                <div class="personal-row col-xs-6 col-md-6 col-lg-6">Last name<br><input type="text" ng-model="user.lastname" name="lastname" required placeholder="Last Name"><br>
                  <span style="color:red" ng-show="signup_form.lastname.$$touched">
                      <span ng-show="signup_form.lastname.$error.required">Last name is required.</span>
                  </span>
                </div>
                <div class="personal-row col-xs-3 col-md-3 col-lg-3">Date of Birth<br>
                  <datepicker date-format="d, MMMM yyyy">
                      <input class="form-control" ng-model="user.date" type="text" name="date" required/>
                    </datepicker><br>
                <span style="color:red" ng-show="signup_form.date.$touched">
                    <span ng-show="signup_form.date.$error.required">Date is required.</span>
                </span></div>               
                <div class="personal-row col-xs-3 col-md-3 col-lg-3">Gender<br><select ng-model="user.gen" maxlength="10" required><option value="male">Male</option><option value="female">Female</option></select><br></div>

                <div class="personal-row col-xs-3 col-md-3 col-lg-3">Place of Birth<br><input type="text" ng-model="user.place" name="pob" required placeholder="Place of Birth"><br>
                  <span style="color:red" ng-show="signup_form.pob.$touched">
                      <span ng-show="signup_form.pob.$error.required">Place of birth is required.</span>
                  </span>
                </div>
                <div class="personal-row col-xs-3 col-md-3 col-lg-3">Phone Number<br><input type="text" ng-model="user.phone" name="phone" required placeholder="Phone Number"><br>
                  <span style="color:red" ng-show="signup_form.pob.$touched"> 
                      <span ng-show="signup_form.pob.$error.required">Phone number is required.</span>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="acc-row col-xs-12 col-md-12 col-lg-12"><legend class="text-center">Account information</legend></div><br>
                <br>
                <div class="acc-row col-xs-4 col-md-4 col-lg-4">Username<br><input type="text" ng-model="user.username" name="username" required placeholder="Username"><br>
                  <span style="color:red" ng-show="signup_form.username.$touched">
                      <span ng-show="signup_form.username.$error.required">Username is required.</span>
                  </span></div>
                <div class="acc-row col-xs-4 col-md-4 col-lg-4">Enter your password<br><input type="password" ng-model="user.password" name="password" required placeholder="Password"><br>
                  <span style="color:red" ng-show="signup_form.password.$touched">
                      <span ng-show="signup_form.password.$error.required">Password is required.</span>
                  </span>
                </div>
                <div class="acc-row col-xs-4 col-md-4 col-lg-4">Reenter your password<br><input type="password" ng-model="user.password_confirm" name="password_confirm" required wj-validation-error="user.password_confirm != user.password ? 'Passwords don\'t match' : ''" 
                  class="form-control" placeholder="Reenter Password"><br>
                  <span style="color:red" ng-show="signup_form.password_confirm.$invalid">
                      <span ng-show="signup_form.password_confirm.$invalid">Passwords do NOT match.</span>
                  </span></div>
                <div class="acc-row col-xs-6 col-md-6 col-lg-6">Email<br><input type="text" ng-model="user.email" name="email" required placeholder="Email"><br>
                  <span style="color:red" ng-show="signup_form.email.$touched">
                      <span ng-show="signup_form.email.$error.required">Email is required.</span>
                      <span ng-show="signup_form.email.$error.email">Invalid email address.</span>
                  </span>
                </div>
                <div class="acc-row col-xs-6 col-md-6 col-lg-6">Type of user<br><select ng-model="user.type" maxlength="10"><option value="patient">Patient</option></select><br></div>
              </div>
              </div>
              <div class="submit col-xs-12 col-md-12 col-lg-12"><button ng-disabled="signup_form.$invalid" ng-required="accepted" class="btn btn-success">Sign Up</button></div>
            </form>
      </div>
      </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Patient Management System 2018</p>
      </div>
      <!-- /.container -->
    </footer>
